h1{
  font-size: 100px;
}
p {
  display: inline;
  font-size: 70px;
  padding: 35px;
  font-weight: bold;
}

button {
  border-radius: 50px;
  height: 75px;
  width: 75px;
  font-size: 50px;
  background-color: white;
}

#minus{
  border:4px solid red;
}

#plus{
  border: 4px solid green;
}

#reset{
    border-radius: 50px;
    height: 75px;
    width: 200px;
    border: 4px solid black;
}

div{
  margin-left: auto;
  margin-top: auto;
  padding: 25px;
}
